.side-bar{
    position: relative;
    width: 20vw;
    height: 100vh;  
    flex-shrink: 0;
    border-right: 1px solid #FFF;
    background: #E1E4E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 15px;
}

.intro-text{
    position: relative;
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    margin-top: 5px;
}

.intro-image img{
    position: relative;
    width: 100px;
    height: 100px; 
    margin-top: 5px;
}



.chat-box-container{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.side-box-1{
    width: 222px;
    height: 75px;
    border-radius: 8px;
    background: white;
    margin-top: 68px;
    margin-left: 14px;
}

.side-box-2{
    width: 222px;
    height: 75px;
    border-radius: 8px;
    background: white;
    margin-top: 18px;
    margin-left: 14px;
}

.side-box-3{
    width: 222px;
    height: 75px;
    border-radius: 8px;
    background: white;
    margin-top: 18px;
    margin-left: 14px;
}
.side-box-4{
    width: 222px;
    height: 75px;
    border-radius: 8px;
    background: white;
    margin-top: 18px;
    margin-left: 14px;
}
.side-box-5{
    width: 222px;
    height: 75px;
    border-radius: 8px;
    background: white;
    margin-top: 18px;
    margin-left: 14px;
}
.side-box-6{
    width: 222px;
    height: 75px;
    border-radius: 8px;
    background: white;
    margin-top: 18px;
    margin-left: 14px;
}


.side-box-1,
.side-box-2,
.side-box-3,
.side-box-4,
.side-box-5,
.side-box-6{
    color: #909090;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
}


.profile-container{
    position: relative;
    display: flex;
    flex-direction: row;
}

.profile-icon img{
    width: 30px;
    height: 30px;
    margin-top: 645px;
    margin-left: 10px
}

.username{
    color: black;
    font-size: .6rem;
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;   
}

.btn {
    font-size: 25px;
    color: white;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    border-radius: 60px;
    background: #FF4300;
    width: 100px;
    height: 20px;
}

.btn:hover {
    background: #FF4300;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}

.message-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

@media only screen and (max-width: 600px) {
    .message-container {
        padding-left: 40px;
        padding-right: 20px;
    }
}

.message-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 80%;
    align-self: center;
}