body {
    margin: 0;
    padding: 0;
    background-color: #0E0E0E;
    font-family: "Arial", sans-serif;
    color: #E8E8E8;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    zoom: 1;
    font-family: 'Inter', sans-serif;
    font-family: 'Permanent Marker', cursive;   
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Permanent Marker', cursive;

}


button {
    border: none;
    background-color: transparent;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
 
  a {
    text-decoration: none;
  }

/* Start of Navigation */
.nav-container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-left: 50%;
    margin-right: 50%;
}
.title-name .ai {
    color: #D73F09; /* Set the color for "AI" */
  }
  
  .home-button:hover,
  .features-button:hover,
  .about-button:hover,
  .resources-button:hover{
  cursor: pointer;
  color: #ffffff;
  border-radius: 20%;
  transform: scale(1.1);
  }

.intro-header .ai{
    color: #D73F09; /* Set the color for "AI" */
    
}

.intro-action-button:hover{
        transform: scale(1.1);
        cursor: pointer;
        
}
           
  
.title-name,
.ai-color-change,
.home-button,
.features-button,
.about-button,
.resources-button,
.login-button,
.signup-button{
    margin-top: 10px;
    position: relative;
    color: var(--text-white, #E8E8E8);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative; 
}


.signup-button{
    position: absolute;
    margin-left: 90%;
    border-radius: 60px;
    background: #D73F09;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    padding: 5px;
    justify-content: center;
}

.signup-button:hover{
    background-color: #D73F09;
    transform: scale(1.1);
    cursor: pointer;

}

.login-button{
    position: absolute;
    margin-left: 75%;
}
.login-button:hover{
    transform: scale(1.1);
    cursor: pointer;
    
    
    }

    
.title-name{
    position: absolute;
    margin-left: -90%
}

.ai-color-change{
    position: absolute;
    margin-left: -1140px;
    color: #D73F09;

}
/* End of Navigation */







/*Start of Body 1*/
.body-1-wrapper{
    position: relative;
    top: 35%;
    left: 5%;
    display: flex;
    flex-direction: column;
    font-family: Libre Franklin;
}

.intro-header{
    color: white;
    font-style: normal;
    font-size: 40px;
    line-height: 50px
}

.intro-paragraph{
    font-size: 20px;
    margin-top: 5px;
    width: 50%
}

.intro-action-button{
    font-size: 25px;
    color: white;
    margin-top: 25px;
    padding: 10px;
    border-radius: 60px;
    background: #FF4300;
    width: 270px
}

.intro-robot img{
    position: absolute;
    width: 1000px;
    height: 700px;
    margin-left: 25%;
    top: -85%
}
/*End of Body 1*/









/*Start of Body 2*/
.body-2-wrapper{
    position: relative;
    top: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body-2-header{
    font-family: Manrope;
    font-size: 40px;
    font-weight:700px;
    color: #D73F09

}

.body-2-description{
    font-family: Manrope;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 1000px;
    font-size: 20px;
}


.box-1{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 180px;
}

.box-2{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 300px;
    margin-left: 500px
}

.box-3{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 300px;
    margin-left: -500px
}

.box-4{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 380px;
}


.box-5{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 580px;
}


.box-6{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 500px;
    margin-left: 500px
}


.box-7{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 380px;
    margin-left: -1000px
}

.box-8{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 500px;
    margin-left: -500px
}

.box-9{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 200px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 20px;
    position: absolute;
    top: 380px;
    margin-left: 1000px
}
/*End of Body 2*/












/*Start of Body 3*/

.body-3-wrapper{
    position: relative;
    top: 70%;
    display: flex;
    flex-direction: column;
    font-family: Libre Franklin;
}

.text-container{
    position: absolute;
    left: 48%;
}

.body-3-header{
    color: #D73F09;
    font-size: 40px;
}

.body-3-description{
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 800px;
}

.body-3-team-photo img{
    position: absolute;
    height:300px ;
    left: 5%;
    border-radius: 50px;
    border: 2px solid #D73F09;
    box-shadow: 0px 4px 4px 0px rgba(215, 63, 9, 0.91);
}

/*End of Body 3*/










/*Start of Body 4*/
.body-4-wrapper{
    position: relative;
    top: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.body-4-header{
    font-family: Libre Franklin;
    color: #d73f09;
    font-size: 40px;
}

.faq-box-1{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 80px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-2{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 80px;
    margin-right: 750px; 
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-3{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 80px;
    margin-right: -750px; 
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-4{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 220px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-5{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 220px;
    margin-right: 750px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-6{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 220px;
    margin-right: -750px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-7{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 360px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-8{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 360px;
    margin-right: 750px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}

.faq-box-9{
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 300px; /* Set the width */
    height: 100px; /* Set the height */
    background-color: #f0f0f0; /* Set the background color */
    border: 2px solid #333; /* Add a border */
    padding: 10px; /* Add padding inside the box */
    border-radius: 10px;
    position: absolute;
    top: 360px;
    margin-right: -750px;
    border: 2px solid #D73F09;      
    background: #1F1F1F;
}



/*End of Body 4*/