@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
  }

  .mockup-browser .mockup-browser-toolbar .input {
    background-color: transparent;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f5f5f5;
  }

  .mockup-browser .mockup-browser-toolbar .input {
    background-color: transparent;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
